<p id="notice"><%= notice %></p>

<div class="container">
<div class="row">
    
    <div class="col-xs-8 col-md-8 col-lg-8">

        <div>
            <h3>What's happening, <%=current_user.username%>?</h3>
            <%= render 'form' %>
        </div>
        
            <% @tweets.each do |tweet| %>
        <div class="row">

            <div class="col-xs-3 col-md-3 col-lg-3" id="tweetavatars">=
               <%= image_tag tweet.user.avatar %>
            </div>
            <div class="col-xs-9 col-md-9 col-lg-9">
                <div class="panel panel-default">
                <div class="panel-heading">
                    @<%= tweet.user.username %>
                </div>
                <div class="panel-body">
                    <%= tweet.post %> <br/>
                    <small><%= time_ago_in_words(tweet.created_at, include_seconds: true)  %> ago</small>
                    
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Show', tweet %></li>
                    <% if tweet.user.username == current_user.username %>
                    <li><%= link_to 'Destroy', tweet, :method => :delete %> </li>
                    <% end %>  
                  </ul>
                </div>
                </div>
                </div>
                <br/>
            </div>

        </div>
    <% end %>
    </div>

    <div class="col-xs-4 col-md-4 col-lg-4">
        <h1>@<%= current_user.username %></h1>
        <%= image_tag current_user.avatar, id:"avatar" %>
    </div> <!-- /col-->
</div><!-- /row -->
    
</div>