<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= current_user.username %>
</p>

<p>
  <strong>Tweet:</strong>
  <%= @tweet.post %>
  <br/>
  <small><%= @tweet.created_at %></small>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
